
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
  
  }

body{

font-family:font-family: 'Work Sans', sans-serif;
font-size:16px;
background-image: url(images/back-.jpeg);
background-size:cover;
background-position:center;


}

h1, h3 h5 h6 {
    font-family: font-family: 'Oswald', sans-serif;
    font-weight:500;


}

header#main-header {
    background: #E6E6E6;
}



.col-a{width: 8.33%; width: 20px; height: 200px; margin-top: 400px;}
.col-2{width: 16.66%;}
.col-3{width:25%; }
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66;}
.col-12{width: 100%;}


.container{
    border: 1 px solid black;
    margin: auto;
    width: 1140px;
    
 
}





[class*='col-'] {
    float: left;
    
   
    box-sizing: border-box;
   
    
    
}

.signup{
    width: 300px;
    box-shadow: 0 0 3px 0rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;


}
.signup h1{
    color:black;
    margin-bottom: 30px;



}

.input-box{

    border-radius: 20px;
    padding: 10px;
    margin:10px 0px;
    width:100%;
    border:1px solid #999;
    outline: none;

}

button {
    
    color:#fff;
    width:100%;
    padding:10px;
    border-radius: 20px;
    font-size: 15px;
    margin:10px 0;
    border:none;
    outline: none;
    cursor: pointer;




}
.signup-btn{
    background-color: #21afde;
}

a {text-decoration: none;}
hr {
    margin-top: 20px;
    width: 295px;
}

.or{
background-color: white;
width: 30px;
margin:-20px auto 10px;

}






.header-height{
    height: 100px;
}

.search-bar{
    height: 50px;
}

.logo-height{
    height: 100px;
}
.social-icon{
    height: 80px;
}

.p-icon {
    height: 100px;
    padding: 0px;
    align-items: center;
    padding-top: 0px;
}
.s\.menu {
    float: left;
    display: flex;
    width: 40px;
    height: 95px;
    margin-top: 5px;
}
.s.manu ul button{
    float: 
    ul {
        list-style: none;
        height: 80px;
    }
    li {
        list-style: none;
        padding: 0px;
    }
    a spen {
        list-style: none;
        margin: 35px;
        padding: -15px;
        padding-top: 16px;
        font-size: 16px;
    }

}
.col-a.viewmore-height {
    height: 50ppx;
    margin-top: 110px;
    width: 100%;
    height: 44px;
}




.slider-menu{

     height: 360px;  
}














.content-height{
    height: 500px;




}

.viewmore-height{

    height: 200ppx;



}

h4 {
    color: black;
    text-align: center;
    font-size: 40px;
}
col-a a:hover{

    color:red;
}











.footer-height{
     height: 100px;

}


input[type="text"] {
    font-size: 14;
    height: 20px;
    width: 270px;
    padding-left: 18px;
    border-radius: 60px;
    margin-top: 5px;
    font-weight: 300;
    color: black;
    border: none;
}

.fa-search:before {
    content: "\f002";
    background-color: #cf1327;
    padding: 4px;
    height: 50px;
    width: 5px;
    border-radius: 50px;
}

i.fas.fa-user-circle {
    padding-top: 20px;
}
.search-box {
    background: #5db9e2;
    height: 30px;
    width: 339px;
    border-radius: 25px;
    margin-top: 32px;
}


a.fas.fa-search {
    float: left;
    width: 2px;
    height: 33px;
    padding: 32px;
    size: 10ppx;
    padding-left: 6px;
    padding-top: 39px;
}
.logo-1 {
    height: 62px;
    margin-top: 20px;
}

.logo-1 img {
    height: 132%;
    width: 53%;
    margin-top: -18px;
    padding-left: 72px;
    margin-bottom: -2px;
}

.colection-height {
    height: 50px;
    background: #46484a;
}

h1 {
    text-align: center;
    color: wheat;
    FONT-SIZE: 40px;
    font-weight: 400;
}





.col-5.social-icon {

    height: 100px;
    display: inline-block;
}


button {
    background: #5db9e2;
    border-radius: 60px;
    height: 35px;
    width: 182px;
    border: none;
    padding-left: 34px;
    padding: 11px px;
    padding: 8px;
}
.ul-1 ul {
    
    margin: 20px;
    list-style: none;
    padding-right: 20px;
    padding-top: 18px;
}

.ul-1 li {
    float: right;
    width: 70px;
    height: 32px;
    border: 1px slid black;
}

.ul-1 a {
    text-decoration: none;
    
}
.ul-1 ul li a:hover{
    background-color: #d31327;
    color: white;
    border-radius: 10px;
    




}
.menubar ul {
    list-style: none;
    height: 30px;
    padding: 10px 20px;
}


.slider-content img {
    height: 100%;
    width: 100%;
}
.menubar li {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: -8px;
    background: #518b99;
    height: 50px;
    text-align: center;
    border-radius: 56px;
}
a {
    text-decoration: none;
}
 ul li a{
     text-decoration:none;
     padding:10px;display: block;
     padding: 15px 15px;
     border-radius: 10px;


}




li a:hover  {
       color: white;
       background-color: rgb(146, 9, 15);



}
.btn a:hover {
    background-color: rgb(212, 35, 4);
    color:white;



}

h2 {
    color: white;
    text-align: center;
}

.col-1{width: 8.33%;}
 .col-2{width: 16.66%;}
 .col-3{width: 25%;}
 .col-4{width: 33.33%;}
 .col-5{width: 41.66%;}
 .col-6{width: 50%;}
 .col-7{width: 58.33%;}
 .col-8{width: 66.66%;}
 .col-9{width: 75%;}
 .col-10{width: 83.33%;}
 .col-11{width: 91.66%;}
 .col-12{width: 100%;}
 
 [class*="col-"]{
   
    border: 1px solid(223, 25, 25);
    
    margin: 0;
    padding: 0;
 
 }
 .footer{
     height: 400px;
    background-color: aquamarine;
     
 }
 .first{
     box-sizing: border-box;
     float: left;
     width: 25%;
 }
 .logo1{
     margin-left:40px ;
  }

   
 .logo{ 
     margin-left: 0px;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-left: 0px;
}
.button{
    float: ;
    height: 50px;
    width: 50px;
    background-image: url(img/facebook.jpg);
    background-size: cover;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 20px;
}
.button2{
    float: ;
    height: 50px;
    width: 50px;
    background-image: url(img/ins.jpg);
    background-size: cover;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 20px;
}
.button3{
    float: ;
    height: 50px;
    width: 50px;
    background-image: url(img/you.jpg);
    background-size: cover;
    
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 20px;
}
.button a {
    text-decoration: none;
    margin-top: 4000px;
    color: rgb(89, 0, 255);
}
 .secend{
    box-sizing: border-box;
    float: left;
    width: 25%;
 }
 .secend ul a{
     text-decoration: none;
 }
 .threed{
    box-sizing: border-box;
    float: left;
    width: 25%;
 }
 .threed ul a{
    text-decoration: none;
}
 .forth{
    box-sizing: border-box;
    float: left;
    width: 25%;
 }
 .forth ul a{
    text-decoration: none;
}
 

 